/TextEditor/nbproject/private/
/Previous Iterations/TextEditorGUI10-30-2023/TextEditorGUI/build/
/Previous Iterations/TextEditorGUI10-30-2023/TextEditorGUI/dist/
/Previous Iterations/TextEditorGUI10-30-2023/TextEditorGUI/nbproject/private/
